<!DOCTYPE html>
<html>
<head>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80709808-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-80709808-5');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shortfy</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <style>
    .title {
      text-align: center;
    }
    .result {
      margin-top: 1rem;
    }
    .notification {
      margin-top: 1rem;
    }
    .show {
      display: block;
    }
    .hide {
      display: none !important;
    }
  </style>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-one-third-desktop is-offset-one-third-desktop">
          <h1 class="title">
            Shortify
          </h1>
          <form action="#" id="mainForm">
            <div class="field">
              <div class="control">
                <input type="text" class="input" id="url" placeholder="Cole a URL original aqui..." required />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary">Gerar URL</button>
              </div>
            </div>
          </form>
          <div class="field has-addons result hide">
            <div class="control is-expanded">
              <input type="text" class="input" id="result" placeholder="URL encurtada!" />
            </div>
            <div class="control">
              <button class="button is-info" id="copy" data-clipboard-target="#result">
                Copiar
              </button>
            </div>
          </div>
          <div class="notification is-danger hide">
            <button class="delete" id="notificationClose"></button>
            <span id="error"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script>
    // Add clipboard to button
    new ClipboardJS('#copy');
    const copy = document.querySelector('#copy');

    copy.addEventListener('click', () => {
      copy.innerHTML = 'Copiado!';

      setTimeout(() => {
        copy.innerHTML = 'Copiar';
      }, 1500);
    });

    const mainForm = document.querySelector('#mainForm');
    const url = document.querySelector('#url');
    const result = document.querySelector('#result');
    const resultDiv = document.querySelector('.result');
    const notification = document.querySelector('.notification');
    const notificationClose = document.querySelector('#notificationClose');

    window.addEventListener('load', () => {
      const query = location.search.slice(1);

      if (0 < query.search('404')) {
        showError('A URL informada não existe');
      }
    });

    notificationClose.addEventListener('click', () => {
      notification.classList.add('hide');
    });

    mainForm.addEventListener('submit', async (ev) => {
      ev.preventDefault();
      resultDiv.classList.add('hide');
      notification.classList.add('hide');

      // const is_valid = await fetch(`http://localhost:3001/shortener?url=${url.value}`);
      const is_valid = await fetch(`https://shortify.me/shortener?url=${url.value}`);

      if (is_valid.status !== 200) {
        return showError('A URL informada não é válida');
      }

      const data = {url: url.value};

      // fetch(`http://localhost:3001/shortener`, {
      fetch(`https://shortify.me/shortener`, {
          method: 'POST',
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
          body: JSON.stringify(data)
        })
        .then(res => res.json())
        .then(json => {
          resultDiv.classList.remove('hide');
          result.value = json.shorten
        })
        .catch(err => console.error('erro', err));
    });

    const showError = function(msg) {
      document.querySelector('#error').innerHTML = msg;
      notification.classList.remove('hide');
    }
  </script>
</body>
</html>
